
#carouselExampleControls{
    padding: 0;
    margin: 0;
}
.carousel-inner{
    display:flex;

    padding:0;
}
#productcarousel-row{
    position:relative;

    width:100%;
    height:max-content;
}
#productcarousel-col{
    position: relative;
    border-bottom: 1px solid linear-gradient(transparent,black,transparent);
    display:flex;
    align-items: flex-start;
    justify-content: center;
    padding:0;

}
#productcarousel-link{
    position: relative;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding:0;
    display: flex;
    flex-direction: column;
    width: 95%;
    height:200px;
    padding:5% 0;
    text-decoration: none;
    color:black;
    font-weight: 500;
 
}
#productcarousel-link>.image{

    height:80%;
    width:100%;
    background:url(https://i.ibb.co/H783J6g/41i-HN9-Y07c-S-AC-SY400.jpg) no-repeat;
    background-size:contain;
    background-position:center;
}
#productcarousel-link>span{
    margin-left: 10px;
    font-size: clamp(0.2rem,4vw,1rem);
    text-align: center;

}
.image-two{
    background:url(https://i.ibb.co/QmYF275/41-Yw1-CGt-FEL-AC-SY400.jpg) no-repeat !important;
    background-size:contain!important;
    background-position:center!important;
}
.image-three{
    background:url(https://i.ibb.co/h71hc7X/41ez-Rv-Twca-L-AC-SY400.jpg) no-repeat !important;
    background-size:contain!important;
    background-position:center!important;
}
.image-four{
    background:url(https://i.ibb.co/k589RvJ/31-Fe-Kz-Jz-VOS-AC-SY400.jpg) no-repeat !important;
    background-size:contain!important;
    background-position:center!important;
}
/*product carousel 2nd slide*/
.c2image-one{
    background:url(https://i.ibb.co/f2nMHM8/31-Sc-S9-NUn-WL-AC-SY400.jpg) no-repeat !important;
    background-size:contain!important;
    background-position:center!important;
}
.c2image-two{
    background:url(https://i.ibb.co/NKkspCZ/31v-Tf-Gd8ka-L-AC-SY400.jpg) no-repeat !important;
    background-size:contain!important;
    background-position:center!important;
}
.c2image-three{
    background:url(https://i.ibb.co/tZMnWDd/713p4-Rc-NGu-L-AC-SY350.jpg) no-repeat !important;
    background-size:contain!important;
    background-position:center!important;
}
.c2image-four{
    background:url(https://i.ibb.co/bz8ZKXB/41-VPAk-J3v-L-AC-SY400.jpg) no-repeat !important;
    background-size:contain!important;
    background-position:center!important;
}







.carousel-control-next-icon {
    background-image: url(https://img.icons8.com/ios-filled/70/000000/chevron-right.png);
}
.carousel-control-prev-icon {
    background-image: url(https://img.icons8.com/ios-filled/70/000000/chevron-left.png);
}


